RewriteEngine On
RewriteCond %{HTTP_HOST} dix\.net\.br [NC]
RewriteCond %{SERVER_PORT} 80
RewriteRule ^(.*)$ https://dix.net.br/$1 [R,L]
<If "%{REQUEST_URI} =~ m#^/cadastro#">
RewriteEngine on
RewriteRule ^((?!index\.php).+)$ /index.php [L]
</If>
<If "%{REQUEST_URI} =~ m#^/feed#">
RewriteEngine on
RewriteRule ^((?!index\.php).+)$ /index.php [L]
</If>
<If "%{REQUEST_URI} =~ m#^/chat#">
RewriteEngine on
RewriteRule ^((?!index\.php).+)$ /index.php [L]
</If>
<If "%{REQUEST_URI} =~ m#^/error404#">
RewriteEngine on
RewriteRule ^((?!index\.php).+)$ /index.php [L]
</If>
<If "%{REQUEST_URI} =~ m#^/home#">
RewriteEngine on
RewriteRule ^((?!index\.php).+)$ /index.php [L]
</If>
<If "%{REQUEST_URI} =~ m#^/postcard#">
RewriteEngine on
RewriteRule ^((?!index\.php).+)$ /index.php [L]
</If>
<If "%{REQUEST_URI} =~ m#^/profile#">
RewriteEngine on
RewriteRule ^((?!index\.php).+)$ /index.php [L]
</If>
<If "%{REQUEST_URI} =~ m#^/recuperarsenha#">
RewriteEngine on
RewriteRule ^((?!index\.php).+)$ /index.php [L]
</If>
<If "%{REQUEST_URI} =~ m#^/verificarconta#">
RewriteEngine on
RewriteRule ^((?!index\.php).+)$ /index.php [L]
</If>
<If "%{REQUEST_URI} =~ m#^/pagamento#">
RewriteEngine on
RewriteRule ^((?!index\.php).+)$ /index.php [L]
</If>
<If "%{REQUEST_URI} =~ m#^/mobNot#">
RewriteEngine on
RewriteRule ^((?!index\.php).+)$ /index.php [L]
</If>
<If "%{REQUEST_URI} =~ m#^/profile/.#">
RewriteEngine on
RewriteRule ^((?!index\.php).+)$ /index.php [L]
</If>
<If "%{REQUEST_URI} =~ m#^/tLhWusnIpeENUtdAPIdrtEkQJiMbejVqWDMFIoZFbMQqwupR#">
RewriteEngine on
RewriteRule ^((?!index\.php).+)$ /index.php [L]
</If>
ErrorDocument 404 http://dix.net.br/error404
