

/* Login */

h2{
    margin-bottom: 35px;
}

.bgimg{
    position: relative;
    display: flex;
    height: 100vh;
    width: calc(100vw - 550px);
    background-repeat: no-repeat;
    background-image: url("img/login-img.jpg");
    background-size: cover;
    z-index: 1;
}

.bgimg img {
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
    z-index: 1000;
    width: 80px;
    margin-left: 30px;
    margin-bottom: 0;
}


.bgimg::before{
    position: absolute;
    content: "";
    display: block;
    opacity: .5;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 10;
}


#form-container{
    display: flex;
    background-color: rgb(248, 248, 248);
    width: 550px;
    height: 100vh;
    align-items: center;
    justify-content: center;
}







/* admin */


body {
    background-color: rgb(243, 243, 243) !important; 
}

nav {
    display: flex;
    background-color: rgb(57, 132, 218);
    height: 90px;
    align-items: center;
    justify-content: center;
}


nav p {
    margin-right: 50px;
    margin-bottom: 0;
    color: #F5F5F5;
    font-size: 24px;
    font-weight: 320;
}

.logo-dix {
    height: 100px;
    max-width: 100%;
}

.btn-return {
    position: relative;
    right: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(21, 21, 24);
    width: 50px;
    height: 50px;
    background-color: #39da4100;
    border-radius: 25px;
}

.btn-return:hover {
    text-decoration: none;
    color: rgb(51, 50, 50);
    transition: 0.1s;
    background-color: #80aee2;
}

.page-title {
    font-size: 40px;
    font-weight: 500;
    margin-top: 60px;
    margin-left: 28px;
    border-left: 3px solid rgba(65, 65, 145, 0.692);
    padding-left: 7px;
}

/* Config */

.config-container {
    margin-top: 55px;
}

.config-title {
    width: 200px;
    font-size: 26px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 28px;
}

.form-config {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
}

.form-group {
    margin-top: 20px;
}

.config-label {
    margin-bottom: 6px;
    font-weight: 600;
}

.btn-config {
    width: 100%;
    background-color: #05a55a !important;
    margin-top: 30px;
}

.btn-config:hover {
    background-color: #06be68 !important;
}

.table-container {
    margin: 0 70px;
    margin-bottom: 150px;
}

.table-title {
    width: 200px;
    font-size: 26px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 38px;
    margin-top: 90px;
}

.buttons {
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.btn-3 {
    background-color: rgb(0, 0, 104) !important;
    border: none !important;
    margin: 5px 10px;
    width: 175px;
}

.btn-3:hover {
    background-color: rgb(4, 4, 131) !important;
}

#bd-title {
    margin-top: 600px;
}


@media (max-width: 1000px) {
    #form-container{
        padding: 60px;
        width: 50vw;
        margin-right: 0;
    }

    .bgimg{
        width: 50vw;
    }
}

@media (max-width: 700px) {

    .form-config {
        width: 85vw;
    }

    #id{
        width: 100vw;
        padding: 0;
    }

    #form-container{
        padding: 0;
        width: 100vw;
    }

    .bgimg{
        width: 0px;
    }

}