/* Navbar */

nav {
    display: flex;
    top: 0;
    z-index: 9999;
    position: sticky;
    background-color: rgb(252, 252, 252);
    height: 70px;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(0, 0, 0, 0.178);
    margin-bottom: 15px !important;
}

.nav {
    margin-bottom: 0 !important;
}

nav p {
    margin-right: 50px;
    margin-bottom: 0;
    color: #F5F5F5;
    font-size: 24px;
    font-weight: 320;
}

.logo-dix {
    height: 80px;
    max-width: 100%;
}

.btn-primary {
    background-color: #0069D9;
}

.btn-primary:hover {
    background-color: #0453a7;
}

.badge-danger {
    margin-left: 0px !important;
    margin-right: 15px !important;
}

.a-logo-dix {
    margin-left: 15%;
}

.features-containers {
    display: flex;
    height: 100%;
    margin-right: 24%;
    align-items: center;
    margin-bottom: 10px;
}

.features-containers i {
    font-size: 26px;
    color: rgb(36, 35, 35);
}

.features-containers a {
    margin-right: 22px;
}

.fas:hover {
    color: rgba(0, 0, 0, 0.747);
}

#navbarDropdownMenuLink-5 {
    padding-left: 0;
    padding-right: 0;
    cursor: pointer;
}

.description {
    margin-bottom: 0px;
    border: 0;
    border-radius: 5px;
    padding: 6px 20px;
    height: 40%;
}

.btn-notificacao {
    background-color: transparent !important;
    padding: 0;
    border: 0 !important;
    box-shadow: none !important;
}

.btn-notificacao:hover, .btn-notificacao:focus {
    background-color: transparent;
    padding: 0;
    border: 0;
    box-shadow: 0;
}

.not-pop {
    top: 45px !important;
    left: 60px !important;
}

.i-c {
    margin-right: 5px !important;
}

/* Notificação */

.not-container {
    overflow: auto;
    height: calc(100vh - 70px);
}

.notificacao {
    padding: 24px 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.068);
}

.notificacao:hover, .notificacao:focus {
    background-color: rgba(77, 77, 77, 0.082);
}

.notificacao span {
    color: rgba(0, 0, 0, 0.733);
}


@media(max-width: 800px) {

    .post-edit-pop {
        top: -10px !important;
        left: -56px !important;
    }

     .not-pop {
        top: 45px !important;
        left: -39vw !important;
        width: 90vw;
    }

    .fa-comments {
        margin-right: 20px;
    }

    .a-logo-dix {
        margin-left: 24px;
    }

    .features-containers i {
        font-size: 140%;
    }

    .features-containers {
        margin-right: 0;
    }
}