
button:focus {
    box-shadow: none !important;
}

.profile, html {
    background-color: #eeeeee;
    /* background-color: violet; */
}

.follower-status {
    display: flex;
    justify-content: center;
}

.follower-status span {
    margin-right: 23px;
    margin-top: 7px;
    font-size: 18px;
}

.profile-top {
    width: 80vw;
    max-width: 880px;
    margin-left: auto;
    margin-right: auto;
}

.img-capa {
    max-width: 880px;
    width: 80vw;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.prof-status-container {
    position: relative;
    background-color: white;
    width: 45vw;
    max-width: 520px;
    height: 300px;
    bottom: 170px;
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    padding-left: 60px;
    padding-right: 60px;
}

.description {
    text-align: center;
    font-size: 15px;
    color: rgb(88, 88, 88);
}

.about-me {
    text-align: center;
    margin-bottom: 20px;
}

.nposts-title {
    text-align: center;
    margin-top: 20px;
}

.nposts {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-justify: auto;
    height: 30%;
    font-size: 48px;
}

.bio {
    height: 38%;
}


.profile-img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-img {
    border: 10px solid white;
    position: relative;
    bottom: 40px;
    width: 30%;
    min-width: 140px;
    border-radius: 100px;
}

.profile-btn-area {
    position: relative;
    bottom: 230px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    margin-top: auto;
}

.btn-profile-follow, .btn-profile-message {
    width: 120px;
}

.btn-profile-follow:focus, .btn-profile-message:focus {
    box-shadow: none;
}

.btn-profile-follow:hover, .btn-profile-message:hover{
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.btn-profile-follow {
    margin-right: 5px;
    border: 1px solid #3984DA;
    color: #3984DA;
}

.btn-profile-follow:hover {
    background-color: #3984DA;
}

.btn-profile-message {
    margin-left: 5px;
    background-color: #3984DA;
}

.profile-img-container-border-bottom {
    height: 9px;
    background-color: #3984DA;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 45vw;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 220px;
    max-width: 520px;
}

.prof-name {
    text-align: center;
    margin-top: -40px;
    font-size: 18px;
    font-weight: 600;
}


.profile-bottom {
    display: flex;
    position: relative;
    justify-content: center;
    bottom: 100px;
}

.VIP {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 160px;
}

.btn-VIP {
    border-radius: 4px;
    background-color: #ebb208;
    width: 120px;
    padding: 13px;
    color: azure;
    box-shadow: 0 0 2em rgba(255, 217, 0, 0.466);
    transition:all 0.3s ease;
}

.btn-VIP:hover {
    color: azure;
    box-shadow: 0 0 3em rgba(255, 217, 0, 0.61);
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
    background-color: #FFC107;
}

/* Area lateral */

.profile-l-content {
    position: sticky;
    top: 6vh;
    width: 30vw;
    max-width: 400px;
    height: 60vh;
    background-color: #FCFCFC;
    border: 1px solid #00000028;
    border-radius: 15px;
    margin-left: 50px;
    margin-right: 100px;
    box-shadow: 0 5px 15px 0 rgba(26, 25, 25, 0.18);
    padding: 28px;
}

/* Footer */

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EEEEEE;
    height: 100px;
}

.copyright p {
    text-align: center;
    margin-bottom: 0;
}










/* Post-Card */











.profile-posts {
    max-width: 98vw;
}








.card {
    border: 0;
    width: 100vw;
    max-width: 620px;
    min-width: 200px;
    min-height: 200px;
    background-color: rgb(252, 252, 252);
    border-radius: 8px;
    box-shadow: 0 5px 15px 0 rgba(46, 45, 45, 0.43);
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

/* Card top */

.card-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 13px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border: 0.3px solid rgba(63, 62, 62, 0.205);
    border-bottom: 1px solid rgb(63, 62, 62);
}

.btn-card-follow {
    height: 30px;
    border-radius: 16px;
    margin-right: 15px;
    background-color: rgb(57, 132, 218); 
    text-align: center;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 14.5px;
}



.btn-card-follow:focus {
    box-shadow: none;
}

.l-card-top {
    display: flex;
    margin-left: 15px;
}

.profile-image {
    width: 50px;
    border-radius: 100px;
    border: 1px solid rgba(0, 0, 0, 0.24);
}

.author-info p {
    margin: 0;
    margin-left: 10px;
}

.author-name {
    font-weight: 600;
}

.author-name a {
    font-size: 15px;
    color: rgb(19, 18, 18);
}

.post-time {
    color: rgba(0, 0, 0, 0.644);
    font-size: 14px;
}

/* Card Midia */

.midia-container img, .midia-container video {
    width: 100vw;
    max-width: 620px;
}

/* Card Bottom */

.card-bot {
    padding: 5px;
    padding-bottom: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top: 1px solid rgb(63, 62, 62);
    border: 0.3px solid rgba(63, 62, 62, 0.205);
}

.post-status {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 42px;
}

.post-status span {
    font-size: 14.5px;
    font-weight: 450;
}

.nlikes {
    margin-left: 30px;
}

.ncomments {
    margin-right: 30px;
}

.g-border {
    height: 1px;
    width: 94%;
    background-color: rgb(190, 190, 190);
    margin-left: auto;
    margin-right: auto;
}

.interactive {
    display: flex;
    width: 100%;
    justify-content: center;
}

.interactive span {
    margin-right: 10px;
    margin-left: 10px;
}

.interactive i {
    margin-right: 4px;
}

.interactive button {
    cursor: pointer;
    border: none;
    background-color: rgba(252, 252, 252, 0);
    border-radius: 5px;
    padding: 13px;
    width: 100%;
    flex-wrap: nowrap;
    white-space: nowrap;
    margin: 0;
}

.like, .comment {
    width: 40%;
}

.interactive button:focus {
    outline: unset;
}

.interactive button:hover {
    background-color: rgba(63, 62, 62, 0.082);
    transition: 0.2s;
}

/* comment-area */

.a-comment {
    display: flex;
    margin-left: 20px;
    /* margin-top: 10px; */
}

.comment-area {
    margin-top: 10px;
}

.a-username {
    margin-right: 10px;
    font-weight: 500;
    font-size: 15px;
}

.r-comment {
    margin-bottom: 8px;
}

.comment-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.comment-input {
    border: 0 ;
    border-left: 3px solid #3984DA;
    margin-bottom: 7px;
    width: calc(100% - 100px);
}

.comment-input:focus {
    box-shadow: 0 0 0 0!important;
}

.btn-send-comment {
    width: 100px;
    padding: 0;
    background-color: rgba(0, 0, 255, 0);
    border: 0;
    color: #3984DA;
    font-weight: 600;
    cursor: pointer;
}

.btn-send-comment:focus {
    outline: 0px;
    outline-offset: 0px;
}

.a-username a {
    color: rgb(10, 10, 10);
}


@media(max-width: 1250px) {
    .profile-posts {
        margin-left: auto;
        margin-right: auto;
    }

    .profile-bottom {
        position: relative;
        bottom: 100px;
    }
}



@media(max-width: 800px) {

    .VIP {
        bottom: 125px;
    }

    .btn-follow {
        max-width: 60px;
    }

    .btn-profile-follow, .btn-profile-message {
        width: 110px;
    }

    .profile-posts {
        bottom: 70px;
    }

    .card {
        margin-bottom: 20px;
        width: 95vw;
    }

    .profile-img {
        width: 100px !important;
        max-width: 120px;
        min-width: 0;
    }

    .profile-top, .img-capa {
        width: 96vw;
    }

    .prof-status-container {
        bottom: 100px;
        width: 70vw;
        height: 300px;
    }

    .profile-img-container-border-bottom {
        width: 70vw;
        bottom: 150px;
    }

    .profile-btn-area {
        bottom: 170px;
    }

    .midia-container img {
        width: 95vw;
    }

    .prof-status-container {
        padding: 20px;
    }
}

/*
 By: Caio C. Brandini da Silva - 2021

 Linkedin: https://www.linkedin.com/in/caiobrandini/
*/